<div class="rainbow">
         <div style="height:3px;width:100%;background:#d10000;"></div>
         <div style="height:3px;width:100%;background:#ff6622"></div>
         <div style="height:3px;width:100%;background:#ffda21"></div>
         <div style="height:3px;width:100%;background:#33dd00"></div>
         <div style="height:3px;width:100%;background:#1133cc"></div>
         <div style="height:3px;width:100%;background:#220066"></div>
         <div style="height:3px;width:100%;background:#330044"></div>
</div>
